#log {
    border: 1px solid #D3D8E1;
    width: 40rem;
    height: 200px;
    overflow: scroll;
    font-size: smaller;
    padding: 1rem 0;
    border-radius: .25rem;
    margin: 2rem 0;
}

#url {
    width: 40rem;
    margin-bottom: 2rem;
}

#userArea {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.logMessage {
    display: flex;
    padding: 0.5rem;
}

.logMessage > * {
    padding: 0.5rem;
}

.logTimestamp {
    color: #AFB3BA;
}

.logUser {
    display: flex;
    white-space: pre;
}

.logNickname {
    color: #ED3B59;
}
