form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.form-control {
    font-size: 0.8rem;
    border: 1px solid #D3D8E1;
}

.form-control::placeholder {
    color: #B7BBC8;
}

.form-group > *:not(:last-child) {
    margin-bottom: 0.8rem;
}


.btn {
    background-image: linear-gradient(-20deg, #ED4D5F, #EF6537 70%);
    border: none;
    font-size: 0.8rem;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    /* box-shadow: 0.3rem 0.4rem 1.5rem 0.1rem rgba(237, 77, 95, 0.7) */
}

.btn:hover {
    animation: buttonHover 0.4s cubic-bezier(0.19, 1, 0.30, 1) 0.1s forwards;
}

.btn:hover {
    border-color: #CD324E;
}



@keyframes buttonHover {
  0% {
  }
  20% {
    transform: scale(1.1);
    box-shadow: 0.3rem 0.4rem 1.5rem 0.1rem rgba(237, 77, 95, 0.7);
  }
  100% {
    transform: scale(1.05);
    box-shadow: 0.3rem 0.4rem 1.5rem 0.03rem rgba(237, 77, 95, 0.7);
  }
}
