.question {
    /* background-color: orange; */
    margin-bottom: 4rem;
    line-height: 2rem;
    max-width: 60rem;
    /* opacity: 0;
    animation: slideUp 1s cubic-bezier(0.19, 1, 0.30, 1) 0.1s forwards; */
}

.question p {
    text-align: left;
}
